
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4><%= render @friend %></h4>
  </div>
  </br>
  <div class="container">
    <%= link_to "Edit", edit_friend_path(@friend), class:'btn btn-secondary' %> 
    <td><%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
    <%= link_to "Back to friends   List", friends_path, class:'btn btn-info' %><br/>
</div>
</div>